<strong>Exercise 1: Create a Jupyter Notebook</strong>

<h1>Peer-graded_Assignment_MaulanaF</h1>

<strong>Exercise 2 - Create a markdown cell with the title of the notebook.</strong>

<h1>Data Science Tools & Ecosystem</h1>

<strong>Exercise 3 - Create a markdown cell for an introduction. (1 pt)</strong>

<p>In this notebook, Data Science Tools and Ecosystem are summarized.<p>

<strong>Exercise 4 - Create a markdown cell to list data science languages. (3 pts)</strong>

Some of the popular languages that Data Scientists use are:
<ol>
    <li>Python.</li>
    <li>R.</li>
    <li>SQL.</li>
    <li>Java.</li>
    <li>Julia.</li>
    <li>Scala.</li>
    <li>C/C++.</li>
    <li>JavaScript.</li>
</ol>

<strong>Exercise 5 - Create a markdown cell to list data science libraries. (3 pts)</strong>

Some of the commonly used libraries used by Data Scientists include:
<ol>
    <li>TensorFlow.</li>
    <li>NumPy.</li>
    <li>SciPy.</li>
    <li>Pandas.</li>
    <li>Matplotlib.</li>
    <li>Keras.</li>
    <li>SciKit-Learn.</li>
    <li>PyTorch.</li>
    <li>Scrapy.</li>
    <li>BeautifulSoup.</li>
    <li>LightGBM.</li>
    <li>ELI5.</li>
    <li>Theano.</li>
    <li>NuPIC.</li>
    <li>Ramp.</li>
    <li>Pipenv.</li>
    <li>Bob.</li>
    <li>PyBrain.</li>
    <li>Caffe2.</li>
    <li>Chainer.</li>
</ol>

<strong>Exercise 6 - Create a markdown cell with a table of Data Science tools. (3 pts)</strong>

Data Science Tools:

<table style="width:100%">
  <tr>
    <th>Data Science Tools</th>
    <th></th>
    <th></th>
  </tr>
  <tr>
    <td>SAS. It is one of those data science tools which are specifically designed for statistical operation</td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td>Apache Spark</td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td>BigML</td>
    <td></td>
    <td></td>
  </tr>
</table>

<strong>Exercise 7 - Create a markdown cell introducing arithmetic expression examples. (1 pt)</strong>

<h3>Below are a few examples of evaluating arithmetic expressions in Python</h3>

In [1]:
# Arithmetic operations
code = compile("9 + 10", "<string>", "eval")
eval(code)
# Result: 9

19

In [ ]:
code1 = compile("(5 + 7) * 2", "<string>", "eval")
eval(code1)
# Result: 24

24

In [ ]:
import math
# Volume of a sphere
code2 = compile("4 / 3 * math.pi * math.pow(25, 3)", "<string>", "eval")
eval(code2)
# Result: 65449.84694978735

65449.84694978735

<strong>Exercise 8 - Create a code cell to multiply and add numbers.(2 pts)</strong>

In [2]:
(8*9)+7
# Result: 17

79

<strong>Exercise 9 - Create a code cell to convert minutes to hours. (2 pts)</strong>

In [3]:
days = 0
hours = 0
mins = 0

time = 360
#days = time / 1440
leftover_minutes = time % 1440
hours = leftover_minutes / 60
#mins = time - (days*1440) - (hours*60)
print(str(days) + " days, " + str(hours) + " hours, " + str(mins) +  " mins. ")

# Result: 3.3333333333333335 hours

0 days, 6.0 hours, 0 mins.

<strong>Exercise 10 -Insert a markdown cell to list Objectives.</strong>

<strong>Objectives:</strong>
<ul>
    <li>List popular languages that Data Scientists use.</li>
    <li>List commonly used libraries used by Data Scientists.</li>
    <li>Comment on Data Science tools.</li>
</ul>

<strong>Exercise 11 - Create a markdown cell to indicate the Authorâ€™s name.</strong>

<h2>Author:</h2> MaulanaF